html {
  box-sizing: border-box;
  background-color:#dbd6cf;
  font-family: "Bevan";
}

, ::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  color: #dbd6cf;
  margin: 0;
  border: 3px solid #595652;
}
